$primary : #EA6B02;
$secondary : #4F4F4F;
$dark : #171717;

$font-family-base: 'Poppins';
$font-weight-bold: 500;
$font-weight-bolder: 600;

$h1-font-size: 4.375rem;
$h2-font-size: 2.5rem;



@import "../node_modules/bootstrap/scss/bootstrap";
